.intro-container {
    display: flex;
    margin-top: 10px;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.ticker-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.tech-stack-container {
    display: flex;
    align-items: center;
    padding: 12px;
    animation: scroll 15s linear infinite;
}

.ticker-item {
    margin: 0 auto;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}